In [9]:
import pandas as pd
import numpy as np

import seaborn as sns
sns.set_style('darkgrid')
import matplotlib.pyplot as plt

In [10]:
path = "../data/cleaned_data.csv"
df = pd.read_csv(path)

In [12]:
df.set_index('DateTime', inplace=True)

In [13]:
df

                     AccountID  TransactionAmount Status
DateTime
2023-11-07 10:58:00     405126           500000.0   sent
2023-11-07 10:56:00     378829             7400.0   sent
2023-11-07 10:56:00     405469             3000.0   sent
2023-11-07 10:56:00       2262             2000.0   sent
2023-11-07 10:54:00     402063             1300.0   sent
...                        ...                ...    ...
2023-04-30 05:42:00     364922              583.0   sent
2023-04-30 05:33:00     364922             3525.0   sent
2023-04-30 05:13:00     353700             2000.0   sent
2023-04-30 05:00:00     178277             6000.0   sent
2023-04-30 04:59:00     353700             3000.0   sent

[100000 rows x 3 columns]

In [15]:
df.columns

Index(['AccountID', 'TransactionAmount', 'Status'], dtype='object')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 2023-11-07 10:58:00 to 2023-04-30 04:59:00
Data columns (total 3 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   AccountID          100000 non-null  int64
 1   TransactionAmount  100000 non-null  float64
 2   Status             100000 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 3.1+ MB

# user-based insights

user's transaction counts per month, and those above 50 transactions per month

In [ ]:
# user monthly transaction count
monthly_transaction_counts = df.groupby([df['DateTime'].dt.year, df['DateTime'].dt.month, 'AccountID'])['TransactionAmount'].count()